.gradle/
.idea/**
build/
cookies/
RefreshTokenApp/
ias.json
accounts.json
config/cookieias/
**/cookieias/import/**
!**/cookieias/import/README.txt
*.cookies
good.txt
fun.txt
.cursor/
.vscode/
.riseclient-ref/
dev/.env
out/
run/
tests/out/
versions/
!/.idea/codeStyles
!/.idea/codeStyles/**
!/.idea/copyright
!/.idea/copyright/**
!/.idea/dictionaries
!/.idea/dictionaries/**
!/.idea/encodings.xml
!/.idea/icon.png
!/.idea/inspectionProfiles
!/.idea/inspectionProfiles/**
